@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #f79055, #b34c10);
}

body {
  margin-top: 20px;
}
/* ==========================================================================
   Credit Card Payment Section
   ========================================================================== */
.credit-card {
  background: linear-gradient(135deg, #f79055, #b34c10);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
form .button {
  height: 45px;
  margin: 35px 0
}

  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #2c5983, #13055f);
  }

    form .button input:hover {
      /* transform: scale(0.99); */
      background: linear-gradient(-135deg, #2c5983, #13055f);
    }

.card-holder {
  margin: 2em 0;
}

.img-box {
  padding-top: 90px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

.card-box {
  font-weight: 800;
  padding: 1em 1em;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bg-news {
  background: -webkit-linear-gradient(70deg, #2c5983 40%, #ffffff 40%);
  background: -o-linear-gradient(70deg, #2c5983 40%, #ffffff 40%);
  background: -moz-linear-gradient(70deg, #2c5983 40%, #ffffff 40%);
  background: linear-gradient(70deg, #2c5983 40%, #ffffff 40%);
}

.btn-primary {
  background: linear-gradient(135deg, #2c5983, #13055f);
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
  border: none !important;
}

.credit-card form {
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.credit-card .title {
  font-family: 'Abhaya Libre', serif;
  font-size: 1em;
  color: #2C3E50;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 0.8em;
  font-weight: 600;
  padding-bottom: 8px;
}

.credit-card .card-details {
  padding: 25px 25px 15px;
}

.inner-addon {
  position: relative;
}

  .inner-addon .fas, .inner-addon .far {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #bcbdbd !important;
  }

.right-addon .fas, .right-addon .far {
  right: 0px;
  top: 40px;
}

.right-addon input {
  padding-right: 30px;
}

.credit-card .card-details label {
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #79818a;
  text-transform: uppercase;
}

.credit-card .card-details input[type="text"] {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

  .credit-card .card-details input[type="text"]:focus {
    outline: none;
  }

.credit-card .card-details button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 600;
}

.credit-card .date-separator {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .credit-card {
    height: 250vh;
    width: 100%;
  }

    .credit-card .title {
      font-size: 1.2em;
    }

    .credit-card .row .col-lg-6 {
      margin-bottom: 40px;
    }

    .credit-card .card-details {
      padding: 40px 40px 30px;
    }

      .credit-card .card-details button {
        margin-top: 2em;
      }
}
