<!--
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
  -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>EnergyChain</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  
    

  <div class="banner">

    <div class="app-text">


      <h3>
        THE REVOLUTION OF THE ENERGY EXCHANGE
      </h3>
      <h1>EnergyChain</h1>
      <p>
        EnergyChain is a webapp for sale
        and purchase of electricity packages
        where transactions are tracked on
        blockchain and contracts are
        entered into in the form of Smart-Contract.
      </p>



      <div class="btn-group">
        <div class="signup-btn" href="javascript:void(0)" [routerLink]="['/register']">Sign up now</div>

      </div>
    </div>

    <div class="cell">
      <img src="assets/cell.JPG">
    </div>


  </div>



    <div class="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  
</body>
</html>
