<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> User canceled </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <table>
    <td>
      <form>
        <div class="container">
          <table>
            <tr>
            </tr>
            <tr>
              <td>
                <div class="card-body text-center">
                  <!-- Profile picture image-->

                  <br>
                  </div>
              </td>
            </tr>
            <tr>
              <td align='center'>
                <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" align='center'>
                <!-- Profile picture help block-->
              </td>
            </tr>
            <tr>
              <td align='center'>
                <br>
                <p align='center'>User cancelled successfully!</p>
              </td>
            </tr>
            <tr>
              <td>
                <!-- Profile picture upload button-->
                <div class="button">
                  <input type="submit" href="javascript:void(0)" [routerLink]="['/home']" value="Back to home">
                </div>
              </td>
            </tr>

          </table>
        </div>
      </form>
    </td>
  </table>
</body>
</html>

